.App {
  text-align: left;
}

.App-logo {
  height: calc(20px + 4vmin);
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

svg.logo-title-svg {height: 100px; width: 140px; left: -0.6em; position: relative;}
svg.logo-title-svg path {fill: none; stroke: white;
  /* d: path('m0 30 l0 -30 l 30 0 l 0 30 l -30 0' );  */
  stroke-width: 0.5px; stroke-linecap:butt;
  /* preserveAspectRatio: none;  */
}

.LogoTitle {position: relative; left: 10%; z-index: 6; width: 80%;}

.slogan {position: absolute; bottom: 0.4em; left: 0em; font-size: 0.6em; color: gold; font-style: italic; font-weight: 600; width: 50%;}

.App-header {
  background-color: PaleVioletRed;
  position: relative;
  /* min-height: 100px; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 6;
}

.App-link {
  color: #61dafb;
  font-size: calc(5px + 1vmin);
}

.HeaderBG {width: 100%; height: 100%; background-color: PaleVioletRed; position: absolute; z-index: 5; }

.FormTab {
  position: absolute;
  top: 100%;
  width: 80%;
  left: 10%;
  z-index: 1;
}

.Tab {
  background-color: orange;
  display: inline-block;
  cursor: pointer;
  transition-property: top, transform;
  transition-duration: 0.25s, 0.5s;
  position: absolute; right: 0; top: -5px;
  transform: translateY(0%);
  border-top: 5px solid orange;
  border-right: 5px solid orange;
  border-left: 5px solid orange;
  z-index: 1;
}
.Tab.hidden {
  transform: translateY(-100%);
}

.Tab:hover {
  /* background-color: gold; */
  /* opacity: 0.8; */
  top: 0px;
}

svg.log-a-jog-svg, svg.log-in-svg {height: 40px; }
svg.log-a-jog-svg path, svg.log-in-svg path {fill: none; stroke: white;
  /* d: path('m0 30 l0 -30 l 30 0 l 0 30 l -30 0' );  */
  stroke-width: 0.5px; stroke-linecap:square;
  /* preserveAspectRatio: none;  */
}

.CloseButton {
  position: absolute; top: 5px; right: 5px;
}
svg.close-svg {height: 1em;  cursor: pointer; transition: 0.25s;}
svg.close-svg:hover {top: 2px; position: relative;}
svg.close-svg path {fill: none; stroke: orange; stroke-linecap:butt;}

.Form {
  color: orange;
  font-weight: 700;
  border-bottom: 5px solid orange;
  /* border-radius: 0 0 15px 15px; */
  border-top: 0;
  padding: 10px;
  background-color: white;
  transition: 0.5s;
  transform: translateY(0%);
}
.Form.hidden {
  transform: translateY(-100%);
  display: none;
}
.Form label {
  /* border: 3px solid orange; */
  background-color: white;
  color: orange;
  font-size: 14px;
  /* vertical-align: bottom; */
}
/* .Form {font-size: 14px;} */
.Form input {
  border: 0;
  border-bottom: 3px solid orange;
  background-color: white;
  color: black;
  /* margin-right: 10px; */
}
.Form .form-units {
  margin-right: 20px;
  font-size: 0.6em;
}
.Form input[name=description] {width: 200px; height: 4em;}
.Form textarea {border: 3px solid orange; width: calc(100% - 10px); height: 6em;}
.Form button {
  border: 3px solid orange;
  background-color: orange;
  color: white;
  font-weight: 700;
  font-size: 0.7em;
  cursor: pointer; position:
  relative;
}
.Form button:hover {top: 1px;}
.Form button:active {top: 2px;}
.Form .button-cont {
  text-align: right;
  right: 20px; position:
  relative;
}
.Form::after {content: ''; position: absolute; height: 60px; width: 100%; background: linear-gradient(white, rgba(255,255,255,0)); left: 0; top: calc(100% + 5px);}

main {width: 80%; margin: auto;}

.IntroText a {
  color: orange; border-bottom: 3px solid orange; font-weight: 700; text-decoration: none;
}
.IntroText p {padding-left: 10px; padding-right: 10px;}

.header-username {
  color:white;
  position: absolute;
  right: 10%; top: 10px;
  z-index: 6;
  font-weight: 700;
  top: calc(50%); transform: translateY(-50%);
  font-size: 0.8em;
}
.header-username:hover .Actions {
  height: 3em;
}
.Actions {
  font-weight: 600;
  font-size: 14px;
  position: absolute; top: 100%; right: 0;
  background-color: PaleVioletRed;
  cursor: pointer;
  text-align: right;
  /* display: inline-block; */
  height: 0%;
  overflow: hidden;
  transition: 0.5s;
}
/* .Actions div {height: 0;} */

.no-shoes {font-size: 14px; color: black; font-weight: 400;}
.no-shoes button.anchor-button {border: 0; border-bottom: 3px solid orange; text-decoration: none; color: orange; font-weight: 700; font-size: 14px; background-color: white; padding: 0; display: inline-block; border-top: 0px; margin-bottom: 0px;}
.no-shoes button.anchor-button:hover {border-bottom: 2px solid orange; border-top: 1px solid white; padding: 0; top: 1px; margin-bottom: 1px;}

.NewShoeForm {display: inline-block; border: 3px solid orange; padding: 0; margin: 0;  line-height: 0;}
.NewShoeForm label {border: 0; padding: 0; padding: 0 5px;}
.NewShoeForm input {border: 0; }
.NewShoeForm button {border: 0; margin: 0; top: -1px; border-bottom: 1px solid orange; margin-bottom: -1px; padding-top: 1px; padding-bottom: -1px;}
.NewShoeForm button:hover { margin: 0; top: 0px; margin-bottom: -1px;}
.NewShoeForm label, .NewShoeForm input, .NewShoeForm button {
  display: inline-block; }
.NewShoeMessage {font-size: 14px;}

.run-form-message {font-size: 14px; color: black; font-weight: 600;}

.AppBody {
  margin-top: 4em;
}

.DisplaySelector {
  font-size: 16px;
  font-weight: 700;
  border: 3px solid orange;
  color: orange;


}
.DisplaySelector > span {
  cursor: pointer;
  transition-property: background-color, color; transition-duration: 0.4s;
  padding: 5px 10px;
  display: inline-block;
}
.DisplaySelector .selected {
  font-size: 16px;
  font-weight: 700;
  background-color: orange;
  color: white;

}

.TextDisplayRun {
  border-bottom: 3px solid orange;
  padding: 0.5em 0;
}
.TextDisplayRun .Description {
  font-size: 14px;
}
/* .TextDisplayRun span::after {
  content: ' — ';
  color: orange;
  font-weight: 900;
} */
.TextDisplayRun span::after {
  content: ' — ';
  color: orange;
  font-weight: 900;
}
.TextDisplayRun span:last-of-type::after {
  content: '';
}

.WeekDisplay .Week {
  border-bottom: 3px solid orange;
}
.WeekDisplay .Week .Day {
  width: calc(100% / 7);
  display: inline-block;
  font-size: 14px;
  vertical-align: bottom;
}

.WeekDisplay .Day .Run {
  width: 90%;
  left: 5%; position: relative;

}
.WeekDisplay .Day .Run .RunData {
  text-align: right;
  font-size: 12px;
}
